{% extends 'buyer/base.html' %}

{% block title %}
    商品详情页
{% endblock %}

{% block content %}
    <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">

					<li><a href="/Buyer/goods_list/?keywords=1&req_type=findall" class="fruit">新鲜水果</a></li>
					<li><a href="/Buyer/goods_list/?keywords=2&req_type=findall" class="seafood">海鲜水产</a></li>
					<li><a href="/Buyer/goods_list/?keywords=3&req_type=findall" class="meet">猪牛羊肉</a></li>
					<li><a href="/Buyer/goods_list/?keywords=4&req_type=findall" class="egg">禽类蛋品</a></li>
					<li><a href="/Buyer/goods_list/?keywords=5&req_type=findall" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/Buyer/goods_list/?keywords=6&req_type=findall" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goods.picture}}" style="width: 350px;height:350px;"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.goods_name }}</h3>
			<p>{{ goods.goods_description }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em id="price">{{ goods.goods_price }}</em></span>
				<span class="show_unit">单  位：500g</span>
                <span class="show_unit" id="count">库存：{{ goods.goods_count }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1" id="number">
					<a href="javascript:;" class="add fr" id="add">+</a>
					<a href="javascript:;" class="minus fr" id="subtract">-</a>
				</div>
			</div>
			<div class="total">总价：<em id="total">{{ goods.goods_price }}</em>元</div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn" id="paynow">立即购买</a>
				<a href="javascript:;" class="add_cart" id="{{ goods.id }}" onclick="add_cart(this)">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for one in recommend_goods %}
					<li>
						<a href="/Buyer/goods_detail/?keywords={{ one.id}}"><img src="/static/{{ one.picture }}"></a>
						<h4><a href="/Buyer/goods_detail/?keywords={{ one.id}}">{{ one.goods_name }}</a></h4>
						<div class="prize">￥{{ one.goods_price }}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods.goods_detail }} </dd>
				</dl>
			</div>

		</div>
	</div>

{% endblock %}

{% block script %}
    <script>
        $("#add").click(
            function () {
                price = parseFloat($("#price").text())
                number = parseInt($("#number").val())
                number = number + 1
                count = parseInt($('#count').text())
                if (number<=1){
                    number = 1
                }
                else if(number>=count){
                    number = count
                }
                $("#number").val(number)
                total = price*number
                $('#total').text(total)
            }
        )


        $("#subtract").click(
            function () {
                price = parseFloat($("#price").text())
                number = parseInt($("#number").val())
                number = number - 1
                count = parseInt($('#count').text())
                if (number<=1){
                    number = 1
                }
                else if(number>=count){
                    number = count
                }
                $("#number").val(number)
                total = price*number
                $('#total').text(String(total)+'.0')
            }
        )

    $("#paynow").click(function () {
        url = '/Buyer/place_order/?goods_id='+{{ goods.id }}+'&goods_number='+$("#number").val()
        window.location.href = url
    })

    function add_cart(obj) {
        var goods_id = obj.id
        var count = $("#number").val()
        url = '/Buyer/add_cart/'
        send_data = {
            'goods_id':goods_id,
            'count':count,
            'csrfmiddlewaretoken':'{{ csrf_token }}'
        }
        $.ajax(
            {
                url:url,
                type:'POST',
                data:send_data,
                success:function (data) {
                    console.log(data)
                },
                error:function (error) {
                    console.log(error)
                }
            }
        )
    }
    </script>
{% endblock %}